<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Moje stránka{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'about' %}">About</a> |
        <a href="{% url 'contact' %}">Contact</a> |
        <a href="{% url 'members' %}">Members</a>
        <a href="{% url 'get_param' %}?jmeno=Karel">Zobraz člena Karel</a>
        <a href="{% url 'category' %}">Kategorie</a>
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>